{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - fitClub</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ace.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fitclub.css' %}">
    <script type="text/javascript" src="{% static 'js/ace-extra.min.js' %}"></script>
</head>
<body>
<div style="text-align: center;margin: 10px 0;">
    <button class="btn btn-success js_test">测试</button>
    <a href="/login">登录</a>

    <div style="width: 20%; margin: 20px auto;">
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter">
                        <i class="icon-coffee green"></i>
                        欢迎光临
                    </h4>

                    <div class="space-6"></div>
                    <form onsubmit="return false;">
                        <fieldset>
                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" id="username" class="form-control"
                                                                   placeholder="用户名">
															<i class="icon-user"></i>
														</span>
                            </label>

                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" id="password" class="form-control"
                                                                   placeholder="密码">
															<i class="icon-lock"></i>
														</span>
                            </label>

                            <div class="space"></div>

                            <div class="clearfix" style="text-align: left">
                                <label class="inline">
                                    <input type="checkbox" class="ace">
                                    <span class="lbl" style="font-size: 12px;">  记 住 我</span>
                                </label>

                                <button type="submit" class="width-35 pull-right btn btn-sm btn-primary btn-login">
                                    <i class="icon-key"></i>
                                    登 录
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- /widget-main -->

            </div>
            <!-- /widget-body -->
        </div>
    </div>
</div>
<div class="page-content">

</div>
</body>
<script type="text/javascript" src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
<script type="application/javascript">
    $(function () {
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        });

        $(document).on("click", ".btn-login", function () {
            var username = $("#username").val();
            var password = $("#password").val();

            $.post("/login/", {loginname: username, password: password}, function (res) {
                if(res.status)
                    location.href = "/admin/";
                else
                    alert(res.data)
            }, "json");
        });

    });
</script>
</html>